{% extends "/shared/_base.html" %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col"></div>
    <div class="col-6 fs-1 bg-dark text-white rounded-top shadow-sm">
      <div class="d-flex justify-content-between">
        <div class="">Bus Arrival</div>
        <div class="fs-3 align-self-center" id="time">19:15</div>
      </div>

      <div class="row bg-secondary">
        <div class="col fs-6 p-1 text-start">Next Services</div>
        <div class="col-2 fs-6 p-1 text-start">Arrives in</div>
      </div>
      {% for bus in time_table %} {% if bus.next_services %}
      <div class="row bg-white text-dark">
        <a
          class="col-2 fs-6 p-1 btn text-vertical-center text-white my-2"
          style="background-color: #{{bus.color}}"
          href="/stop/tracking/{{code}}/{{bus.route}}"
        >
          {{bus.route}}
        </a>
        <div class="col fs-6 p-1">
          <div class="d-flex p-2 bd-highlight">{{bus.direction}}</div>
        </div>
        <div class="col-2 fs-6 p-1 text-center align-middle">
          <div class="d-flex p-2 bd-highlight justify-content-between">
            <div class="expected" id='{{bus["next_services"][0].trip_id}}'>
              {{bus["next_services"][0].arrives_in}}
            </div>
            <div
              class="liveicon hide-icon"
              id='icon-{{bus["next_services"][0].trip_id}}'
            >
              <ion-icon name="pulse-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
      <div class="row bg-white text-dark p-2">
        <div class="col fs-6" id="stop" data-code='{"code":"{{code}}"}'>
          {{name}}
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
<script src="{{ url_for('static', path='/js/time.js') }}"></script>
<script src="{{ url_for('static', path='/js/realTime.js') }}"></script>
{% endblock %}
