{% extends "/shared/_base.html"%} {% block content %}

<!-- Search Bar -->

<div class="row">
  <div class="col"></div>
  <div class="col-6">
    <input
      class="form-control form-control-lg text-center mt-4"
      type="text"
      id="search"
      placeholder="search bus stop"
    />
  </div>
  <div class="col"></div>
</div>

<!-- Auto complete cards -->
<div class="row">
  <div class="col"></div>
  <div class="col-xl-6 col-lg-10 col-sm-10">
    <div class="container" id="match-list"></div>
  </div>
  <div class="col"></div>
</div>

<script src="../static/js/search.js"></script>

{% endblock %}
